# concat
참고 링크 : https://pandas.pydata.org/docs/reference/api/pandas.concat.html

concat

In [1]:
import pandas as pd

In [2]:
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c','d'])

In [3]:
s1

0    a
1    b
dtype: object

In [4]:
s2

0    c
1    d
dtype: object

In [5]:
pd.concat([s1,s2])

0    a
1    b
0    c
1    d
dtype: object

ignore_index

In [6]:
s1

0    a
1    b
dtype: object

In [7]:
s2

0    c
1    d
dtype: object

In [8]:
pd.concat([s1,s2], ignore_index=True)

0    a
1    b
2    c
3    d
dtype: object

keys

In [9]:
s1

0    a
1    b
dtype: object

In [10]:
s2

0    c
1    d
dtype: object

In [11]:
pd.concat([s1,s2], keys=['s1','s2'])

s1  0    a
    1    b
s2  0    c
    1    d
dtype: object

names

In [17]:
s1

0    a
1    b
dtype: object

In [18]:
s2

0    c
1    d
dtype: object

In [19]:
pd.concat([s1,s2], keys=['s1','s2'],
         names=['Series name','Row ID'])

Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object