# abalone&groupby
참고 : https://rfriend.tistory.com/383  
다운로드 링크: http://archive.ics.uci.edu/ml/datasets/Abalone  
다운로드 링크를 클릭한다. 웹페이지에서 Download 옆에 있는 'Data Folder'를 클릭한 뒤 'abalone.data'를 다운로드 받는다.  
웹페이지에서 Attribute Information을 보면 각 Column의 Name을 알 수 있다.

In [8]:
import pandas as pd
columns = ['Sex', 'Lenght', 'Diameter', 'Height', 'Whole weight', 'Shuched weight', 'Viscera weight', 'Shell weight', 'Rings']

In [9]:
abalone = pd.read_csv('abalone.data', names = columns)

In [10]:
abalone[:5]

,Sex,Lenght,Diameter,Height,Whole weight,Shuched weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

Check the missing value

In [12]:
import numpy as np

In [13]:
np.sum(pd.isnull(abalone))

Sex               0
Lenght            0
Diameter          0
Height            0
Whole weight      0
Shuched weight    0
Viscera weight    0
Shell weight      0
Rings             0
dtype: int64

결측치는 없다.

Sex 그룹별로 Whole weight를 살펴봅니다.

In [15]:
abalone.groupby('Sex')['Whole weight'].sum()

Sex
F    1367.8175
I     578.8885
M    1514.9500
Name: Whole weight, dtype: float64

In [16]:
abalone.groupby('Sex')['Whole weight'].size()

Sex
F    1307
I    1342
M    1528
Name: Whole weight, dtype: int64

In [17]:
abalone.groupby('Sex')['Whole weight'].mean()

Sex
F    1.046532
I    0.431363
M    0.991459
Name: Whole weight, dtype: float64

Sex 그룹별로 여러 변수를 한번에 살펴봅니다.

In [20]:
abalone.groupby('Sex').sum()

,Lenght,Diameter,Height,Whole weight,Shuched weight,Viscera weight,Shell weight,Rings
Sex,,,,,,,,
F,756.875,594.335,206.52,1367.8175,583.1675,301.5100,394.7270,14546
I,574.035,438.155,144.93,578.8885,256.3690,123.4775,172.0205,10589
M,857.805,671.230,231.31,1514.9500,661.5415,329.3520,430.8490,16358

In [21]:
abalone.groupby('Sex').size()

Sex
F    1307
I    1342
M    1528
dtype: int64

In [19]:
abalone.groupby('Sex').mean()

,Lenght,Diameter,Height,Whole weight,Shuched weight,Viscera weight,Shell weight,Rings
Sex,,,,,,,,
F,0.579093,0.454732,0.158011,1.046532,0.446188,0.230689,0.302010,11.129304
I,0.427746,0.326494,0.107996,0.431363,0.191035,0.092010,0.128182,7.890462
M,0.561391,0.439287,0.151381,0.991459,0.432946,0.215545,0.281969,10.705497