# Groupby
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'Animal' : ['Falcon', 'Falcon', 'Parrot', 'Parrot'], 'Max Speed' : [380., 370., 24., 26.]})
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [3]:
df.groupby(['Animal']).mean()

        Max Speed
Animal
Falcon      375.0
Parrot       25.0

# Hierachical Indexes
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

In [5]:
import pandas as pd
import numpy as np
arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'], ['Capitve', 'Wild', 'Capitve', 'Wild']]
arrays

[['Falcon', 'Falcon', 'Parrot', 'Parrot'],
 ['Capitve', 'Wild', 'Capitve', 'Wild']]

In [11]:
type(arrays)

list

In [12]:
index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
df = pd.DataFrame({'Max Speed' : [390., 350., 30., 20.]},index=index)
df

                Max Speed
Animal Type
Falcon Capitve      390.0
       Wild         350.0
Parrot Capitve       30.0
       Wild          20.0

In [13]:
df.groupby(level=0).mean()

        Max Speed
Animal
Falcon      370.0
Parrot       25.0

In [14]:
df.groupby(level=1).mean()

         Max Speed
Type
Capitve      210.0
Wild         185.0

# For Loop

In [15]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8