# apply
참고링크 : https://blog.naver.com/wideeyed/221559041280

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'국어':[51,65,78],
                  '수학':[80,90,100]},
                 index=['홍길동','김대한','최민국'])

In [3]:
df

     국어   수학
홍길동  51   80
김대한  65   90
최민국  78  100

sqrt

In [4]:
df.apply(np.sqrt)

           국어         수학
홍길동  7.141428   8.944272
김대한  8.062258   9.486833
최민국  8.831761  10.000000

average

In [9]:
df.apply(np.average)

국어    64.666667
수학    90.000000
dtype: float64

In [11]:
df.apply(np.average, axis=1)

홍길동    65.5
김대한    77.5
최민국    89.0
dtype: float64

mean

In [6]:
df.apply(np.mean)

국어    64.666667
수학    90.000000
dtype: float64

In [12]:
df.apply(np.mean, axis=1)

홍길동    65.5
김대한    77.5
최민국    89.0
dtype: float64